fastapi>=0.111.0
uvicorn>=0.30.0
python-multipart>=0.0.9
pandas>=2.0.0
openpyxl>=3.1.0
groq>=0.9.0
fuzzywuzzy>=0.18.0
python-Levenshtein>=0.20.0
phonenumbers>=8.13.0
rapidfuzz>=3.0.0
uszipcode>=0.2.4
sqlalchemy_mate>=1.4.28.4
